body{
    background-image: url("../images/Moure_de_la_Gardille_5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.play{
    position: fixed;
    top: calc(50vh - 25px);
    border-radius: 100%;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.play img{
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.step1{
    background-image: url("../images/background_verres_bis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    margin: 3%;
    border-radius: 250px;
    border: solid 10px gold;
    opacity: 0;
    transition: all 1s;
}
.step2{
    background-image: url("../images/background_verres.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    margin: 3%;
    border-radius: 250px;
    border: solid 10px gold;
    opacity: 0;
    transition: all .5s;
}
.step3{
    background-image: url("../images/background_fireworks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    margin: 3%;
    border-radius: 250px;
    border: solid 10px gold;
    opacity: 0;
    transition: all .5s;
}
.step4{
    background-image: url("../images/Christmas_Balls_Star_decoration_Snowflakes_537925_1280x853.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    margin: 3%;
    border-radius: 250px;
    border: solid 10px gold;
    opacity: 0;
    transition: all .5s;
}
.step5{
    background-image: url("../images/background_fireworks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    margin: 3%;
    border-radius: 250px;
    border: solid 10px gold;
    opacity: 0;
    transition: all .5s;
}
#step1_title{
    opacity: 0;
    transition: all 1.9s;
    position: relative;
    top: -20px;
}
#para1{
    opacity: 0;
    transition: all 1.2s;
    position: relative;
    top: -20px;
}
#step2_title{
    opacity: 0;
    transition: all 1.9s;
    position: relative;
    top: -20px;
}
#para2{
    opacity: 0;
    transition: all 1.2s;
    position: relative;
    top: -20px;
}
#step3_title{
    opacity: 0;
    transition: all 1.9s;
    position: relative;
    top: -20px;
}
#para3{
    opacity: 0;
    transition: all 1.2s;
    position: relative;
    top: -20px;
}
#step4_title{
    opacity: 0;
    transition: all 1.9s;
    position: relative;
    top: -20px;
}
#para4{
    opacity: 0;
    transition: all 1.2s;
    position: relative;
    top: -20px;
}
#step5_title{
    opacity: 0;
    transition: all 1.9s;
    position: relative;
    top: -20px;
}
#para5{
    opacity: 0;
    transition: all 1.2s;
    position: relative;
    top: -20px;
}
section img{
    border: solid 10px black;
    opacity: 0;
    transition: all 1.4s;
    border-radius: 50px;
    max-width: 0%;
}
section p{
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
    font-size: 1.3em;
    font-weight: 800;
    background-color: rgba(247, 246, 246, 0.6);
}
section h2{
    font-size: 2em;
    font-weight: 800;
    padding: 15px;
}
.stepinner button{
    background-color: rgb(253, 191, 99);
    height: 50px;
    max-width: 300px;
    margin-top: 30px;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}
.stepinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.step2, .step3, .step4, .step5{
    display: none;
}
